.home-title {
    color: #333;
    font-weight: 400;
    font-size: 20px;
    margin-left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.items-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

.chainsaw-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    cursor: pointer;
    border-radius: 15px;
}

.chainsaw-img {
    width: 200px;
    height: 190px;
}

.chainsaw-container:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.title-chainsaw {
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    color: black;
    text-align: left;
}

.description-chainsaw {
    text-align: left;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-size: .700rem;
    margin-bottom: 15px;
}

.price-chainsaw {
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    text-align: left;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.view-btn {
    width: 140px;
    height: 40px;
    color: #5eb07f;
    border-radius: 6px;
    border-width: 1px;
    border-color: #5eb07f;
    background-color: white;
    display: block;
    margin: 0 auto 60px auto;
    cursor: pointer;
    font-weight: bold;
}

.view-btn:hover {
    background-color: #5eb07f;
    color: white;
    cursor: pointer;
}